.file-list {
  display: flex;
  
  padding: 4px 20px;
}
.text-area-container {
  flex: 1; /* Make the text area container fill the remaining space */
  height: 100%; /* Set a fixed height for the container */
  overflow-y: auto; /* Add a vertical scrollbar if the content exceeds the height */
  
}
.file-list-scroll {
  height: 600px; /* Set a fixed height for the file list container */
  overflow-y: auto; /* Add a vertical scrollbar if the content exceeds the height */
}

.file-content {
  /* Optionally, add padding or other styles for the content area */
  padding: 10px;
}
.file-name {
  font-size: 25px; /* Set the desired font size for the file names */
  font-weight: bold; /* You can also apply other styles */
}
.selected-file {
  font-weight: bold; /* You can also apply other styles */
  font-size: 25px;
}
.clicked-file {
  font-weight: bold; /* You can also apply other styles */
}
.button-remove {
  
  padding: 4px 20px;
  left: 10px;
  bottom: 200px;
  position: absolute;
  
}
.label-button-remove{
  
  font-size: 15px;
}