
input[type="file"] {
  display: none; /* Hide the default file input */
}

.custom-file-input {
  
  position: fixed;
  background-color: #636463; /* Button background color */
  color: #fff; /* Button text color */
  padding: 4px 21px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  left: 5%; /* Adjust this value to set the desired distance from the right */
  bottom: 30%;
  
}

/* Style for when the button is hovered over */
.custom-file-input:hover {
  background-color: #3f8db4; /* Change color on hover */
}
