.result-card {
  position: fixed;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  width: 60vw; /* Set the width to 100% of its container */
  height: 40vh; /* Set the initial height to 150 pixels */
  right: 19%;
  padding: 20px;

  align-items: center;
  overflow-y: auto; /* Add a vertical scrollbar when content overflows */
  max-height: 300px; /* Set the maximum height for the scrollable area */
}

.result-content {
  flex-direction: column;
}

.result-row {
  font-weight: bold;
  font-size: 80%;
  display: flex;
  width: 60vw;
  border: 1px solid #c1bebe;
  margin: 5px 0;
  background-color: #f7f4f4;
  color: black; /* Set the text color to black */
}

.result-column {
  flex: 1;
  padding: 10px;
  text-align: center;
  max-height: 60px; /* Set the maximum height for each column content */
  overflow-y: auto; /* Enable vertical scrolling within columns when content overflows */
  font-size: 80%;
}

.header {
  font-size: 80%;
  font-weight: bold;
  background-color: #f4e5e5;
}

.button:hover {
  background-color: #f1eeee;
  cursor: pointer;
}
