.add-label-container {
  position: fixed;
  width: 15vw;
  height: 30vh;
  right: 1%;
  top: 4%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  flex-direction: column;
  align-items: center;
}
.add-label-placeholder {
  display:flex;
  height: 3vh;
  width: 10vw;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.add-label-button {
  position: fixed;
  display:flex;
  right: 6%; /* Adjust this value to set the desired distance from the right */
  top: 40%; /* Adjust this value to set the desired distance from the top */
}

.button-cancel {
  background-color: #ff6b6b; /* Background color of the button */
  color: #ec3030; /* Text color of the button */
  padding: 4px 10px; /* Padding around the text (adjust as needed) */
  border: none; /* Remove the button border */
  border-radius: 15px; /* Rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  margin-left: 10px;

  /* Optional: Add more styles to the button as needed */
}

.button-cancel:hover {
  background-color: #be0606; /* Change button background color on hover */
}
.add-label input::placeholder {
  color: #7f7d7d; /* Change the placeholder text color to your preferred color */
  font-style: italic; /* You can use italic font-style or customize it as you like */
  font-weight: 300; /* Adjust the font weight (lighter or bolder) */
  font-size: 14px; /* Adjust the font size */
  opacity: 0.6; /* Set the opacity to make it slightly transparent */
  letter-spacing: 1px; /* Adjust letter spacing for style */
}

.label-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust the width as needed */
}
