.add-label-container {
  position: fixed;
  top: -8px;
  width: 200px;
  height: 300px;
  margin: 20px auto;
  right: 80px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Add a vertical scrollbar if needed */
}
.add-label-placeholder {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.add-label-button {
  right: 145px;
  position: fixed;
  top: 360px;
}

.button-cancel {
  background-color: #ff6b6b; /* Background color of the button */
  color: #ec3030; /* Text color of the button */
  padding: 4px 10px; /* Padding around the text (adjust as needed) */
  border: none; /* Remove the button border */
  border-radius: 15px; /* Rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  margin-left: 10px;

  /* Optional: Add more styles to the button as needed */
}

.button-cancel:hover {
  background-color: #be0606; /* Change button background color on hover */
}
.add-label input::placeholder {
  color: #7f7d7d; /* Change the placeholder text color to your preferred color */
  font-style: italic; /* You can use italic font-style or customize it as you like */
  font-weight: 300; /* Adjust the font weight (lighter or bolder) */
  font-size: 14px; /* Adjust the font size */
  opacity: 0.6; /* Set the opacity to make it slightly transparent */
  letter-spacing: 1px; /* Adjust letter spacing for style */
}

.label-list {
  list-style-type: none; /* Remove bullet points from the list */
  padding: 0; /* Remove default padding */
}

.label-list li {
  margin: 5px 0; /* Add some vertical spacing between list items */
  display: flex; /* Use flexbox to align checkbox and label horizontally */
  align-items: center; /* Align items vertically in the center */
}

.label-list li input[type="checkbox"] {
  margin-right: 8px; /* Add spacing between checkbox and label */
}

.label-list li label {
  font-size: 16px; /* Adjust the font size for labels */
  font-weight: bold; /* Make the label text bold */
}
