
.color-picker-map {
  position: absolute;
  display: inside;
  top: 4%;
  right: 1%;
}
.color-picker-buttons {
  position: absolute;
  display: flex;
  top: 80%;
  right: 2%;
}
.color-picker-buttons button:hover {
  background-color: #919292;
}
