.loading-container {
  position: fixed;
  bottom: 11%;
  width: 15vw;
  height: 30vh;
  right: 1%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.loading-list {
  padding: 0; /* Remove default padding */
}

.loading-button {
  right: 145px;
  position: relative;
  top: 600px;
}
.remove-button {
  background-color: #ff6b6b; /* Background color of the button */
  color: #ec3030; /* Text color of the button */
  padding: 4px 10px; /* Padding around the text (adjust as needed) */
  border: none; /* Remove the button border */
  border-radius: 15px; /* Rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  margin-left: 10px;
}
.hide-loading-labels-color {
  margin-left: 20px;
  color: #b5b3b3;
}
